# babel files
.babelrc

# config files
.editorconfig
conf.json

# git files
.git/
.gitignore

# binary files
.bin/

# eslint files
.eslintrc
.eslintignore

# source codes
src/

# test files
test/

# npm files
.npmignore

# build files
build/
